<tr>
    <td><%= id %></td>
    <td><%= title %></td>
    <td><%= body %></td>
    <td>
	<a href="<%= show_action %>">
	    Show
	</a>
    </td>
    <td>
	<a href="<%= edit_action %>">
	    Edit
	</a>
    </td>
    <td>
	<a href="<%= delete_action %>">
	    Delete
	</a>
    </td>
</tr>
